doctype html
html
    head
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
        script(src="https://cdn.socket.io/socket.io-1.2.0.js")
        script(src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js")
        link(rel="stylesheet" herf="css/style.css")
    body
        .container(ng-app="playerViewApp")
            #roomSwitch(ng-controller="roomViewCtrl")
                button.btn.btn-xs(ng-click="startInfoRoom()") Info
                button.btn.btn-xs(ng-click="startLobbyRoom()") Lobby
                button.btn.btn-xs(ng-click="startTeamRoom()") Team Builder
                button.btn.btn-xs(ng-click="startBattleRoom()") Battle
            #infoView
                #info.container.well(ng-hide="!(userInfo.room === 'info')")
            include lobby.jade
            include teambuilder.jade
            include battle.jade
            script(src="javascript/angularApp.js")
            script(src="javascript/playerView.js")
            script(src="javascript/battleView.js")
            script(src="javascript/roomView.js")
            script(src="javascript/teambuildView.js")