#playerView(ng-controller="playerViewCtrl")
    #lobby.container.well(ng-hide="!(userInfo.room === 'lobby')")
        .row
            #userlist.col-md-2(style="height:250px; overflow:scroll")
                span Users:
                ul.list-group
                    li.list-group-item(ng-repeat="user in userlist" ng-click="promptChallenge(user.name)") {{user.name}}
            #lobbyMessages.col-md-6
                span Lobby Chat:
                #lobbyMessageBox.well(style="height:250px; overflow:scroll" scroll-glue)
                    ul.list-group
                        li.list-group-item(ng-repeat="msg in lobbyMsgs track by $index") {{msg}}
        .row
            .col-md-2
                span(ng-hide="username.loggedIn") Please Choose a Username
                span(ng-hide="!username.loggedIn") Welcome {{username.name}}
                form#nameChange(ng-submit="changeName()")
                    input(type="text" ng-model="newName")
                    button(type="submit") Change Name
            .col-md-6
                form#lobbyMessager(ng-submit="lobbyMessage()")
                    input(ng-model="lobbyMsg")
                    button(type="submit") Send
            .col-md-4
                form#challenge(ng-submit="submitChallenge()" ng-hide="!isChallenging")
                    span  Challenge {{challengedUser}}?
                    button(type="submit") Challenge
                    button(type="reset" ng-click="cancelChallenge()") Cancel
                form#accept(ng-submit="acceptChallenge()" ng-hide="!isChallenged")
                    span {{challengingUser}} wants to battle!
                    button(type="submit") Accept
                    button(type="reset" ng-click="rejectChallenge()") Reject