html, body {
    height: 100%;
}

ul {
    overflow: scroll;
    max-height: 300px;
}

#info {
    
}

#lobby {
    min-height: 100%;
}

#lobbyMessages {
    overflow: scroll;
    max-height: 250px;
}

#battleLogBox {
    overflow: scroll;
    height: 250px;
}
