html, body {
    height: 100%;
}

ul {
    overflow: scroll;
    max-height: 300px;
}
#lobby {
    min-height: 100%;
}

#lobbyMessageBox {
    height: 250px;
}

#battleLogBox {
    overflow: scroll;
    height: 250px;
}
